In [1]:
# Importando a biblioteca Pandas
import pandas as pd

# 1.Carregando o arquivo CSV para um DataFrame
df = pd.read_csv('Obesity.csv')

# 2.Exibindo as primeiras linhas do DataFrame
display(df.head())

# 3.Exibindo as informações gerais do DataFrame
print("\n---Informações da Base de Dados: ---")
df.info()

# 4.Verificar se existem valores nulos
print("\n---Valores Nulos por Coluna: ---")
print(df.isnull().sum())

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

---Informações da Base de Dados: ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111 entries, 0 to 2110
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Gender          2111 non-null   object
 1   Age             2111 non-null   float64
 2   Height          2111 non-null   float64
 3   Weight          2111 non-null   float64
 4   family_history  2111 non-null   object
 5   FAVC            2111 non-null   object
 6   FCVC            2111 non-null   float64
 7   NCP             2111 non-null   float64
 8   CAEC            2111 non-null   object
 9   SMOKE           2111 non-null   object
 10  CH2O            2111 non-null   float64
 11  SCC             2111 non-null   object
 12  FAF             2111 non-null   float64
 13  TUE             2111 non-null   float64
 14  CALC            2111 non-null   object
 15  MTRANS          2111 non-null   object
 16  Obesity         2111 non-null   object
dtypes: float64(8), object(9)
memory usage: 280.5+ KB

---Valores Nulos por Coluna: ---
Gender            0
Age               0
Height            0
Weight            0
family_history    0
FAVC              0
FCVC              0
NCP               0
CAEC              0
SMOKE             0
CH2O              0
SCC               0
FAF               0
TUE               0
CALC              0
MTRANS            0
Obesity           0
dtype: int64

In [ ]:
# 1.Arredondar colunas especificas no Dicionario de Dados e transformar o tipo de dado para inteiro (int)
colunas_para_arredondar = ['Age', 'FCVC', 'NCP', 'CH2O', 'FAF', 'TUE']

df[colunas_para_arredondar] = df[colunas_para_arredondar].round(0).astype(int)

# 2.Imprimir colunas para verificar se deu certo o arredondamento
print("--- Primeiras linhas após arredondamento: ---")
display(df[['Age', 'FCVC', 'NCP', 'CH2O', 'FAF', 'TUE']].head())

--- Primeiras linhas após arredondamento: ---

   Age  FCVC  NCP  CH2O  FAF  TUE
0   21     2    3     2    0    1
1   21     3    3     3    3    0
2   23     2    3     2    2    1
3   27     3    3     2    2    0
4   22     2    1     2    0    0

Arquivo 'Obesity_Limpo_PowerBI.csv' gerado com sucesso na pasta do projeto!

In [3]:
# Tradução do Dicionário de Dados para Português para uso no Power BI
# 1.Dicionario para traduzir o nome das colunas
traducao_colunas = {
    'Gender': 'Genero',
    'Age': 'Idade',
    'Height': 'Altura',
    'Weight': 'Peso',
    'family_history': 'Historico_Familiar',
    'FAVC': 'Consumo_Alta_Caloria',
    'FCVC': 'Frequencia_Vegetais',
    'NCP': 'Numero_Refeicoes',
    'CAEC': 'Consumo_Entre_Refeicoes',
    'SMOKE': 'Fumante',
    'CH2O': 'Consumo_Agua',
    'SCC': 'Monitora_Calorias',
    'FAF': 'Atividade_Fisica',
    'TUE': 'Tempo_Telas',
    'CALC': 'Consumo_Alcool',
    'MTRANS': 'Meio_Transporte',
    'Obesity': 'Nivel_Obesidade'
}

# 2.Dicionarios para traduzir os valores das linhas
traducao_sim_nao = {'yes': 'Sim', 'no': 'Nao'}
traducao_frequencia = {'no': 'Nao', 'Sometimes': 'As vezes', 'Frequently': 'Frequentemente', 'Always': 'Sempre'}

# Apicando as traduções em uma copia da base de dados para não perder a original
df_powerbi = df.copy()

# Traduzindo colunas
df_powerbi.rename(columns=traducao_colunas, inplace=True)

# Traduzindo os valores (linhas)
df_powerbi['Genero'] = df_powerbi['Genero'].map({'Female': 'Feminino', 'Male': 'Masculino'})
df_powerbi['Historico_Familiar'] = df_powerbi['Historico_Familiar'].map(traducao_sim_nao)
df_powerbi['Consumo_Alta_Caloria'] = df_powerbi['Consumo_Alta_Caloria'].map(traducao_sim_nao)
df_powerbi['Fumante'] = df_powerbi['Fumante'].map(traducao_sim_nao)
df_powerbi['Monitora_Calorias'] = df_powerbi['Monitora_Calorias'].map(traducao_sim_nao)

df_powerbi['Consumo_Entre_Refeicoes'] = df_powerbi['Consumo_Entre_Refeicoes'].map(traducao_frequencia)
df_powerbi['Consumo_Alcool'] = df_powerbi['Consumo_Alcool'].map(traducao_frequencia)

# Traduzindo a coluna de numero de refeições (NCP)
df_powerbi['Numero_Refeicoes'] = df_powerbi['Numero_Refeicoes'].map({
    1: '1 refeição',
    2: '2 refeições',
    3: '3 refeições',
    4: '4 refeições ou mais'
})

# Traduzindo a coluna de consumo de vegetais (FCVC)
df_powerbi['Frequencia_Vegetais'] = df_powerbi['Frequencia_Vegetais'].map({
    1: 'Raramente',
    2: 'As vezes',
    3: 'Sempre'
})

# Traduzindo a coluna de consumo de agua (CH2O)
df_powerbi['Consumo_Agua'] = df_powerbi['Consumo_Agua'].map({
    1: '< 1 L/dia',
    2: '1-2 L/dia',
    3: '> 2 L/dia'
})

# Traduzindo a coluna de atividade fisica (FAF)
df_powerbi['Atividade_Fisica'] = df_powerbi['Atividade_Fisica'].map({
    0: 'nenhuma',
    1: '~1-2x/sem',
    2: '~3-4x/sem',
    3: '5x/sem ou mais'
})

# Traduzindo a coluna de tempo de telas (TUE)
df_powerbi['Tempo_Telas'] = df_powerbi['Tempo_Telas'].map({
    0: '~0-2 h/dia',
    1: '~3-5 h/dia',
    2: '> 5 h/dia'
})

#Traduzindo a coluna de meio de transporte (MTRANS)
df_powerbi['Meio_Transporte'] = df_powerbi['Meio_Transporte'].map({
    'Automobile': 'Carro',
    'Motorbike': 'Moto',
    'Bike': 'Bicicleta',
    'Public_Transportation': 'Transporte Publico',
    'Walking': 'A Pe'
})

# Traduzindo a coluna de obesidade (target)
df_powerbi['Nivel_Obesidade'] = df_powerbi['Nivel_Obesidade'].map({
    'Insufficient_Weight': 'Abaixo do Peso',
    'Normal_Weight': 'Peso Normal',
    'Overweight_Level_I': 'Sobrepeso Nivel I',
    'Overweight_Level_II': 'Sobrepeso Nivel II',
    'Obesity_Type_I': 'Obesidade Tipo I',
    'Obesity_Type_II': 'Obesidade Tipo II',
    'Obesity_Type_III': 'Obesidade Tipo III'
})

# 3.Salvar esta base traduzida para uso no Power BI
df_powerbi.to_csv('Obesity_Traduzido_PowerBI.csv', index=False)
print("--- Primeiras lihas da base traduzida: ---")
display(df_powerbi.head())
print("\nArquivo 'Obesity_Traduzido_PowerBI.csv' gerado com sucesso na pasta do projeto!")

--- Primeiras lihas da base traduzida: ---

,Genero,Idade,Altura,Peso,Historico_Familiar,Consumo_Alta_Caloria,Frequencia_Vegetais,Numero_Refeicoes,Consumo_Entre_Refeicoes,Fumante,Consumo_Agua,Monitora_Calorias,Atividade_Fisica,Tempo_Telas,Consumo_Alcool,Meio_Transporte,Nivel_Obesidade
0,Feminino,21,1.62,64.0,Sim,Nao,As vezes,3 refeições,As vezes,Nao,1-2 L/dia,Nao,nenhuma,~3-5 h/dia,Nao,Transporte Publico,Peso Normal
1,Feminino,21,1.52,56.0,Sim,Nao,Sempre,3 refeições,As vezes,Sim,> 2 L/dia,Sim,5x/sem ou mais,~0-2 h/dia,As vezes,Transporte Publico,Peso Normal
2,Masculino,23,1.80,77.0,Sim,Nao,As vezes,3 refeições,As vezes,Nao,1-2 L/dia,Nao,~3-4x/sem,~3-5 h/dia,Frequentemente,Transporte Publico,Peso Normal
3,Masculino,27,1.80,87.0,Nao,Nao,Sempre,3 refeições,As vezes,Nao,1-2 L/dia,Nao,~3-4x/sem,~0-2 h/dia,Frequentemente,A Pe,Sobrepeso Nivel I
4,Masculino,22,1.78,89.8,Nao,Nao,As vezes,1 refeição,As vezes,Nao,1-2 L/dia,Nao,nenhuma,~0-2 h/dia,As vezes,Transporte Publico,Sobrepeso Nivel II

Arquivo 'Obesity_Traduzido_PowerBI.csv' gerado com sucesso na pasta do projeto!

In [4]:
# Salvar base de dados original com as colunas arredondadas e convertidas para inteiro
df.to_csv('Obesity_Base_ML.csv', index=False)